extends ../common/layout.pug

block title
  title Admin - Trans Lifeline

block styles
  link(href='/styles/admin.css', rel='stylesheet')

block content
  section#title
    h1='Admin'
  section#admin-donate
    h2='Donate'
    form
      section.form-section
        label Campaign Title
        input#title(type='text' value=donate && donate.title ? donate.title : '')
        label Text
        textarea#text(value=donate && donate.text ? donate.text : '' rows='10')
      section.form-section
        label Goal Amount
        input#goal(type='text' value=donate && donate.goal ? donate.goal: '')
        label Start Date
        input#start(type='date' value=donate && donate.start ? donate.start : new Date().toJSON().slice(0,10))
        label End Date
        input#end(type='date' value=donate && donate.end ? donate.end : new Date().toJSON().slice(0,10))
        label Match Multiplier. Set to 0 if we don't have a match.
        input#match-multiplier(type='text' value=donate && donate.match-multiplier ? donate.match-multiplier : '0')
        label Maximum Match Amount
        input#match-max(type='text' value=donate && donate.match-max ? donate.match-max : '0')
      section.form-section
        label Campaign Image
        if donate && donate.img
          img#image-preview(src=donate.img)
        input#image(type='text' value=donate.img)
        label Alt text
        input#alt(type='text' value=donate && donate.alt ? donate.alt : '')
      section.submit-section
        button#submit(type='submit') Save changes
    section#admin-microgrants
      h2='Microgrants'
      form
        section.form-section
          label Campaign Title
          input#mg-title(type='text' value=microgrants && microgrants.title ? microgrants.title : '')
          label Text
          textarea#mg-text(value=microgrants && microgrants.text ? microgrants.text : '' rows='10')
        section.form-section
          label Goal Amount
          input#mg-goal(type='text' value=microgrants && microgrants.goal ? microgrants.goal: '')
          label Start Date
          input#mg-start(type='date' value=microgrants && microgrants.start ? microgrants.start : new Date().toJSON().slice(0,10))
          label End Date
          input#mg-end(type='date' value=microgrants && microgrants.end ? microgrants.end : new Date().toJSON().slice(0,10))
          label Match Multiplier. Set to 0 if we don't have a match.
          input#mg-match-multiplier(type='text' value=microgrants && microgrants.match-multiplier ? microgrants.match-multiplier : '0')
          label Maximum Match Amount
          input#mg-match-max(type='text' value=microgrants && microgrants.match-max ? microgrants.match-max : '0')
        section.form-section
          label Campaign Image
          if donate && donate.img
            img#mg-image-preview(src=microgrants.img)
          input#mg-image(type='text' value=microgrants.img)
          label Alt text
          input#mg-alt(type='text' value=microgrants && microgrants.alt ? microgrants.alt : '')
        section.submit-section
          button#mg-submit(type='submit') Save changes
  section#admin-banner
    h2='Banner'
    div
      i.fa.fa-plus &nbsp;
      a(href='/admin/create-banner') Add banner image
    ul
      each bannerItem, i in banner
        li
          div.image
            img(src=bannerItem.img)
          div.info(data-id=bannerItem._id)
            label Link
            input.link(type='text' value=bannerItem.link)
            label Alt text
            input.alt(type='text' value=bannerItem.alt)
            label Background Color
            input.bg(type='color' value=bannerItem.bg)
          div.update
            div
              i.fa.fa-refresh &nbsp;
              a(href='#' data-op='update' data-id=bannerItem._id) Update
            div
              i.fa.fa-trash-o &nbsp;
              a(href='#' data-op='remove' data-id=bannerItem._id) Remove
