extends ../common/layout.pug

block title
  title Admin - Trans Lifeline

block styles
  link(href='/styles/admin.css', rel='stylesheet')

block content
  h1='Admin'
  section#admin-donate
    h2='Donate'
    form
      section.form-section
        label Campaign Title
        input#title(type='text' value=donate && donate.title ? donate.title : '')
        label Text
        textarea#text(value=donate && donate.text ? donate.text : '' rows='10')
      section.form-section
        label Goal Amount
        input#goal(type='text' value=donate && donate.goal ? donate.goal: '')
        label Start Date
        input#start(type='date' value=donate && donate.start ? donate.start : new Date().toJSON().slice(0,10))
        label End Date
        input#end(type='date' value=donate && donate.end ? donate.end : new Date().toJSON().slice(0,10))
        label Match Multiplier. Set to 0 if we don't have a match.
        input#match-multiplier(type='text' value=donate && donate.match-multiplier ? donate.match-multiplier : '0')
        label Maximum Match Amount
        input#match-max(type='text' value=donate && donate.match-max ? donate.match-max : '0')
      section.form-section
        label Campaign Image
        if donate && donate.img
          img(src=donate.img)
        input#image(type='file' accept='image/*')
        label Alt text
        image#alt(type='text' value=donate && donate.alt ? donate.alt : '')
      section#submit-sections
        button#submit(type='submit') Save changes
  section#admin-banner
    h2='Banner'
    div
      i.fa.fa-plus &nbsp;
      a(href='/admin/create-banner') Add banner image
    ul
      each bannerItem, i in banner
        li
          div.image
            img(src=bannerItem.img)
          div.info(data-id=bannerItem._id)
            label Link
            input.link(type='text' value=bannerItem.link)
            label Alt text
            input.alt(type='text' value=bannerItem.alt)
            label Background Color
            input.bg(type='color' value=bannerItem.bg)
          div.update
            div
              i.fa.fa-refresh &nbsp;
              a(href='#' data-op='update' data-id=bannerItem._id) Update
            div
              i.fa.fa-trash-o &nbsp;
              a(href='#' data-op='remove' data-id=bannerItem._id) Remove
