extends ./common/layout.pug

block title
  title Donate - Trans Lifeline

block styles
  link(href='/styles/donate.css', rel='stylesheet')

block content
  div.title-mobile
    h1=donate.title
  section
    h1.title=donate.title
    if donate.text
      p=donate.text
    p.
      Trans Lifeline is coming together this holiday season to empower trans people who are incarcerated.
    p.
      Accessing even the most basic goods and services can be near impossible while incarcerated; commissary goods are astronomically priced, and can be completely out of reach if the person inside has any unpaid legal fees attached to their account.
    p.
      But there’s a catch.
    p.
      In many prisons around the country, fees that are normally tacked onto commissary deposits are waived  on Christmas Day, and we want to take advantage of that. On December 25, we’re giving over $8,000 to incarcerated trans people all over the country.
    p.
      But we can’t do it without your donations.
    p.
      This holiday season, give hope. Let incarcerated trans people know that they’re not forgotten; people outside care about their welfare, and we’re rooting for them. All funds raised, even if we go way over our goal, will be used to fill the commissary accounts of incarcerated trans people.
    h2='$' + donate.progress.amountRaised
    div#progress
      if donate.progress.percent > 0
        div#bar(style='width:' + donate.progress.percent + '%')
    h3.
      #{Math.round(donate.progress.percent)}% Raised of $#{donate.goal} Goal#[span.days(data-days=donate.progress.daysLeft)  with #{donate.progress.daysLeft} Days to go].
    if donate.progress.matchedAmount > 0
      h3.
        $#{donate.progress.matchedAmount} matched.
    div(id="mc5zbpi52g8e0")
    script.
      var mc5zbpi52g8e0;(function(d,t) {var s=d.createElement(t),opts={"checkoutToken":"5zbpi52g8e0","width":"100%"};s.src='https://d2l7e0y6ygya2s.cloudfront.net/assets/embed.js';s.onload=s.onreadystatechange = function() {var rs=this.readyState;if(rs) if(rs!='complete') if(rs!='loaded') return;try {mc5zbpi52g8e0=new MoonclerkEmbed(opts);mc5zbpi52g8e0.display();} catch(e){}};var scr=d.getElementsByTagName(t)[0];scr.parentNode.insertBefore(s,scr);})(document,'script');
    script.
      var DDCONF = { API_KEY: "ODFlZjQwZGMtODBi" };
    script(src='https://doublethedonation.com/api/js/ddplugin.js' async)
    link(href='https://doublethedonation.com/api/css/ddplugin.css', rel='stylesheet')
    #dd-container.well
        div(ng-include='search_template')
        p.
          #[a(href='https://doublethedonation.com/matching-grant-resources/matching-gift-basics/') Matching Gift]
          and
          #[a(href='https://doublethedonation.com/matching-grant-resources/volunteer-grant-basics/') Volunteer Grant]
          information provided by
          #[br]
    a(href='https://doublethedonation.com')
      img(alt='Powered by Double the Donation', src='https://doublethedonation.com/api/img/powered-by.png')
  
    h2='Our Partners'
    h3.
      #[a(href='http://www.qdep.org/') Queer Detainee Empowerment Project]
    p.
      The Queer Detainee Empowerment Project assists folks coming out of immigration detention in securing structural, health/wellness, educational, legal, and emotional support and services. We work to organize around the structural barriers and state violence that LGBTQIA TS & GNC detainee/undocumented folks face related to their immigration status, race, sexuality, and gender expression/ identity.
    p.
      We are committed to assisting folks in building lives outside of detention, to breaking down the barriers that prevent folks from building fulfilling and productive lives, and to keeping queer families intact by demanding an end to deportations/ detention/ policing. We believe in creating a narrative of thriving, not just surviving.
    h3.
      #[a(href='https://austinanarchistblackcross.wordpress.com') Austin Anarchist Black Cross]
    h3.
      #[a(href='https://houstonabc.wordpress.com') Houston Anarchist Black Cross]
    p.
      Austin and Houston Anarchist Black Cross are collectively run mutual aid groups focusing on supporting incarcerated queer folks in Texas. They show prisoner support and solidarity by providing literature, correspondence, financial assistance and solidarity campaigns. Collectively, Austin and Houston ABC support almost 200 queer and trans incarcerated people in Texas.
    h3.
      #[a(href='https://unstoppable.noblogs.org') Unstoppable Publication] 
    p.
      Unstoppable! is a national publication based out of colorado that brings together queer and trans voices inside and outside the United States prison system. As a branch off of Denver Anarchist Black Cross, the creators of Unstoppable! Were able to build this publication from authentic relationships they had with people from the inside. They have roughly 400 incarcerated subscribers that receive this biannual publication. Unstoppable is an org that supports trans prisoners emotionally, financially, and creatively.
    h3.
      #[a(href='https://fight.org/programs/institute-for-community-justice/') Institute for Community Justice - Philadelphia FIGHT]
    p.
      The Institute for Community Justice was founded as part of Philadelphia FIGHT’s commitment to working to reduce not only the number of people in prison living with HIV, but also the lasting effects of mass imprisonment on communities most affected.
  
