extends ../common/layout.pug

block title
  title Host Resources - Trans Lifeline

block styles
  link(href='/styles/hostresources.css', rel='stylesheet')

block content
  section
    h1='Trans Lifeline Host Manual'
  section.bottom-shadow
    h2='Table of Contents'
    p.
      Click on chapter titles to skip down to each section.
    ol
      li.
        #[a(href='#1') Tips for Hosting Successful Events]
      li.
        #[a(href='#2') Event Ideas]
      li.
        #[a(href='#3') Event Planning and Timeline Tool]
      li.
        #[a(href='#4') Accessibility Checklist]
      li.
        #[a(href='#5') Downloads]
      li.
        #[a(href='#6') Additional Resources We Love]
  section#1.bottom-shadow
    h2='1. Tips for Hosting a Successful Event'
    p.
      #[b='Play to your strengths—'] You know your friends and community best.
      The most successful and fun events will make use of your unique interests,
      skills, and connections.
    p.
      #[b='Plan far in advance—'] The larger the event, the further ahead of
      time you want to get all of your core logistics figured out (Who you’re
        inviting, What you’re hosting, and Where it will be hosted). Planning
        ahead reduces stress and expense, so do yourself a favor.
    p.
      #[b='Get others involved—'] You don’t want to be the only one who attends
      the event, so why be the only one organizing it? You be less stressed out
      if people can share the responsibilities and tasks. At the same time you
      will likely have a better turn out because there will be more people to
      get the word out.  In fact, if you can collaborate with people from
      communities or organizations other than your own, then the event will
      likely be more successful.
    p.
      #[b='Ask businesses for in-kind donations—'] Reducing the cost of the
      event increases the amount of money that can go towards helping transgender
      people in crisis. If you want food, then ask local restaurant owners. If
      you are having a raffle, you can often ask businesses to donate tickets,
      products, or services.
    p.
      #[b='Personally reach out to people—'] We all get a lot of impersonal
      invites to events both on Facebook and through other means. If you take the
      time to call or text someone, they are more likely to respond.
    p.
      #[b='Don’t pick culturally appropriative themes—'] We strive to ensure that
      everyone feels respected by Trans Lifeline. If you do not belong to a
      cultural group, you should not host a party that involves dressing up or
      pretending to be another culture (ie. Chinese New Years, Cinco de Mayo,
      etc). If you are uncertain if the theme is offensive, then you should
      probably avoid it. If you’d like to understand more about cultural
      appropriation, check out these articles [links].
    p.
      #[b='Make a direct ask—'] At the point in the event when you have most of
      the attendees in the room and they are having a good, it’s time to make an
      ask. Many people find it difficult to ask for money. However, direct asks
      always raise more than passive ones. People came to your event to support
      you and Trans Lifeline, so they are primed.  If you are struggling, then
      check out these resources on asking for money [link].
  section#2.bottom-shadow
    h2='2. Event Ideas'
    h3='Crowd Funding'
    p.
      This may seem like the easiest, but it's definitely a case where you get
      out of it what you put into it. A good crowd funding campaign starts a
      couple months ahead of time. You need to get as many people involved in
      organizing it as possible. Then plan out how long it should be (probably
      2-4 week), and come up with a social media campaign that will keep people
      engaged. Help each other out by prewriting posts, email templates, and
      creating social media content (photos, memes, videos, etc.) ahead of time.
      Don't forget that in-person methods will make you even more successful
      (making announcements at events, handing out flyers, talking to friends,
      etc.). When the campaign date comes, everyone involved should post and
      talk to people daily. Contact us ahead of time if you are hosting a
      crowdfunding campaign so that we can use our 501c3 status to get a better
      deal on the financial transaction fees. We do a lot of online fundraising
      so we can also help you with language on the campaign and some strategy,
    h3='Dance Party'
    p.
      Dance parties are a time tested method of raising money for LGBTQ people.
      If you have a larger organizing group (more than 4) or if you have
      connections to entertainers already, then try to get a private space that's
      not a bar so that you can host your own bar. Charging people less to get
      in but then hosting your own bar will ensure you raise a lot of money if
      your event is successful. On the other hand, there are legalities involved,
      and if no one comes to your event, then you will lose the money you spent
      on alcohol.
    p.
      If you are a small group, then hosting a party at a bar will be much easier.
      You can usually make a deal with the bar to get proceeds from the entrance
      fee, and if you are a good negotiator, you can ask for a portion of the
      proceeds from the bar (10% is good). Bars host benefits all the time, so
      you may want to check out what they are already hosting to find a bar that
      has a history of being LGBTQ-friendly.
    p.
      Both events will need the following: A door person who takes money, a
      sound system, a DJ (multiple is preferable), a performer (optional but it
      ads a flare and  if that performer has a following then you have a broader
      audience), decorations (optional), drinks (don't forget people who don't
      drink), food (optional but at least something to snack on is ideal)
    h3='Trivia Tournament'
    p.
      Pick a night and host a tournament for teams to compete in. Get people you
      know to sign up to head the teams. Depending on who you are maybe these will
      be leaders from other student organizations, community groups, or
      departments. Charge an entrance fee for competitor, as well as admission for
      the audience. You can make up your own rules for the event, but it will need
      some structure.
    p.
      Ask yourself: How many rounds should we have? How many students should
      there be per team? What topics will the trivia cover? How will students
      answer the questions? Who will write the questions? How will the questions
      be recited? There’s tons of flexibility with how you run your tournament.
      Make it more strategy-based by having team members compete in different
      categories. Or, keep the categories secret and have the teammates work in
      unison to answer.
    p.
      Depending on the size of the tournament, you might need to do qualifying
      and preliminary rounds in the weeks leading up the main event, reserving
      that day for something like the quarters through the finals. Get rewards
      donated for 1st, 2nd, and 3rd place.
    h3='Artists Auction'
    p.
      If you know artist, make an auction consisting of work donated by them.
      It can be virtual or in person. If you do it virtually, calculate in the
      cost of shipping! Large, award, heavy, or fragile pieces will be expensive
      to ship or may be damage (or both). The benefit of an in person event is
      always that there's socializing and you can have a bar. which will help
      raise money. The event will foster relationships between local artists,
      showcase new talents, and teach the public about what’s happening right
      in their backyards. You may even be able to team up with a local arts non
      profit, gallery, or DIY venue.
    p.
      Curate the event and display the pieces like you would any new exhibit.
      Invite members of the community. Artists can even help promote the auction
      themselves. At the auction itself, highlight the artists’ stories when
      discussing each piece of art. People will be more inclined to bid if they
      feel connected to the work. Have people from your group on hand to offer
      advice and thoughtful discussion of the work on display. You want the
      evening to appeal to people who are familiar with art and those who aren't.
    h3='Casino Night'
    p.
      Gambling for good. It has a nice ring to it. This is option works better
      if your audience has more disposable income. The night itself can consist
      of: a catered dinner, blackjack tables, poker tables, rented slot machines,
      an auction (live or silent, gambler’s choice), and/or a raffle. Make sure
      that every ticket holder gets a set amount of chips, and then sell extra
      hips in exchange for donations throughout the night. Secure a small group
      of prizes for the attendees with the biggest winnings for the night.
    p.
      The night can be formal or casual depending on the attendees that you want
      to attract. If this fundraiser needs to draw money from higher level donor,
      you can go black tie. However, if you want this to largely be a social
      fundraiser, then keep it casual and go with a quirky theme instead. Make
      sure you know people who are well verse in these games to deal or you can
      even hire professional dealers for your card tables. Find the financial
      balance that works for your audience (see having a budget).
  section#3.bottom-shadow
    h2='3. Event Planning & Timeline Tool'
    p.
      Because every event is different, not all of these steps will not fit
      every event. However, they are intended to help you think through steps
      that will enhance your event at each stage and be more organized about how
      you approach it. Also, note that the timeline really depend on how much
      time you want to put into it. As always, take what makes sense for you and
      leave what doesn’t.
    h3='High Level Planning (3-4 month)*'
    ul
      li Establish event goals and objectives
      li Select date
      li Identify venue and negotiate details
      li Develop Event Master Plan
      li Get cost estimates (e.g., room rental, food & beverages, equipment, speaker fees, travel, etc.) and create a budget
      li Recruit event committee,  event manager or chair and establish sub-committee chairs
      li Create and launch publicity plan & brand your event (ensure staff and/or volunteers are identified to manage specific tasks – e.g., media relations, VIP coordination, printed material design & printing coordination, signage, online /social media, etc.)
      li Identify and confirm speakers/presenters/entertainers
      li Identify and contact sponsors/partners
    p.
      *start your planning as early as possible.
    h3='2-3 Months Ahead of Event'
    h4='Entertainment'
    ul
      li Get bio information, photo
      li Travel & accommodation arrangements
      li Have contracts signed if appropriate, etc.
    h4='Financial/Administration'
    ul
      li Set up/enable online registration
      li Follow up with potential sponsors
      li Identify items to be donated
    h4='Venue/logistics'
    ul
      li Investigate need for any special permits, licenses, insurance, etc.
      li Determine and arrange all details re menu, A/V equipment, registration set-up, parking, signage, etc.
      li Review security needs/plan for the event with venue manager
    h4='Publicity:'
    ul
      li Develop draft program
      li Create draft event script (e.g., MC, speaker introductions, thanks, closing, etc.)
      li Develop publicity pieces to spread the word. You can often get in the paper’s calendar of events for free. To get a broader audience, consider press release, newsletter articles, ads, radio spots, print, blog posts, op-eds about related topics mentioning the event, etc.
      li Request logos from corporate sponsors for online and printed materials
      li Develop and produce invitations, programs, posters, tickets, etc.
      li Develop media list & prepare News Release, Media Advisory, Backgrounder and all media kit materials (e.g., speaker info, photos, etc.)
      li Make Facebook event and/or Eventbrite and share it with the Trans Lifeline!
      li Develop a promo video and post on YouTube and your Facebook page
      li Register your event on a variety of online event calendars
      li Create some buzz on your blog or member forums
      li If there is going to be a VIP section, figure out what makes it special (special access to entertainers, free gifts, special food, etc.)
    h3='2 months prior to event'
    ul
      li Send reminders to contact list if people have RSVP’d
      li Sponsorship: Follow up to confirm sponsorships and underwriting
    h4='Publicity:'
    ul
      li Release press announcements about keynote speakers, celebrities, VIPs attending, honourees, etc.
      li Post your initial event news release on Facebook and circulate to all partners, affiliated organizations, etc.
    h3='1 week ahead'
    ul
      li Event Organizers will meet and confirm all details against Master Plan – and ensure back-up plans are developed for any situation (e.g., back-up volunteers as VIP greeters, additional volunteers for registration or set-up, etc.)
      li Finalize event script
      li Brief any/all hosts, greeters, volunteers about their event duties and timelines
      li Final seating plan, place cards, etc.
      li Provide final registration numbers to caterers
      li Make print and online copies of any speeches, videos, presentations, etc.
      li Final registration check, name badges & registration list
      li Determine photo op and interview opportunities with any presenters, VIPs etc. and confirm details with interviewee and media
    h3='1 day ahead'
    ul
      li Confirm media attending
      li Ensure all signage is in place
      li Ensure registration and media tables are prepared and stocked with necessary items (e.g., blank name badges, paper, pens, tape, stapler, etc.)
      li Ensure all promo items, gifts, posters, banners, etc. are on-site
    h3='Event day'
    ul
      li Ensure you have copies of all instructions, directions, phone numbers, keys, extra parking permits for VIP guests, seating charts and guest lists with you
      li Check-in with all volunteers
      li Event Organizers ensure the event is on track
      li Have Fun!
    h3='Immediately following event'
    ul
      li Financial status: Figure out how much you raised. Gather all receipts and pay anyone out who needs to be reimbursed. Send us the final totals! We will send you back details on how to get us the money and .make an announcement on Facebook. After we get the money, we'll send you out shirts for the organizing team (up to 4 for free and at cost for any additional ones) and swag.
      li Follow up communication: Send us the contact info of the people who attended your event! We want to make contact with them within a week and invite them into our community of supporters.
      li Send thank-you’s and acknowledgement letters to people who helped make this possible:
        ul
          li Sponsors
          li Volunteers
          li Entertainers
          li Donors
          li the Media
    p
      In your thank-you notes, be sure to remind the recipients of the event’s success – and how they contributed (e.g., dollars raised, awareness - number of participants, etc.).
  section#4.bottom-shadow
    h2='4. Accessibility Checklist'
    p.
      We strive to make our events as inclusive as possible. We understand that not all of these suggestions are an option for every event. This list is to help you gauge how accessible your event is and to strategize about how to help people feel included.
    h3='Venues'
    ul.checklist
      li.
        ____ Is the venue wheelchair accessible?
      li.
        ____   If the venue is wheelchair accessible, then have we noted that on Facebook events and flyers?
      li.
        ____  If the venue is NOT, then have we noted that on Facebook events and flyers?
      li.
        ____  Does the event planning team have people represented from the various communities we hope will come to the event?
      li.
        ____  Have we listed contact information so that people with accessibility concerns can reach us?
      li.
        ____  Does our venue have gender neutral bathrooms?
      li.
        ____  If not, then can we change the bathrooms to be gender neutral during the event?
      li.
        ____  Are people of all ages allowed at the venue?
      li.
        ____  If the event is age restricted (ie. 21+), then have we noted that on Facebook events and flyers?
    h3='Performances & Programs'
    ul.checklist
      li.
        ____  Is there American Sign Language, Spanish, or other translation available?
      li.
        ____ Can people sit who need to?
      li.
        ____  Are the performers representative of the broader community?
      li.
        ____  Are there options for sliding scale donations in case people can’t afford the whole price?
    h3='Outreach'
    ul.checklist
      li.
        ____  Have I advertised in more than one way (ie. Emails, Texts, Facebook, and making an announcement in person at an event)?
      li.
        ____  If it is a public event, have I reached out to people beyond my immediate friend circle (ie. posting flyers, posting event in Facebook groups that are thematically relevant, announcing your event at another event, etc.)?
  section#5.bottom-shadow
    h2='5. Downloads'
    ul
      li.
        #[a(href='/docs/TLLSignUp2-16.pdf') Sign in sheet]
      li.
        #[a(href='/docs/TLLlogo.png') Logo (Hi resolution)]
  section#6.bottom-shadow
    h2='6. Additional Resources We Love'
    ul
      li.
        #[a(href='https://www.eventbrite.com/blog/ds00-how-to-host-a-kick-ass-event/') Eventbrite's "How to Host a Kick Ass Event"]
      li.
        #[a(href='http://www.giveforward.com/p/fundraising-ideas') Give Forward's Fundraising Ideas]
      li.
        #[a(href='http://www.thefundraisingauthority.com/fundraising-basics/how-to-ask/') Fundraising Authority's How to ask anyone for anything]
