header(class=showBanner ? '' : 'no-banner')
  a.logo(href='/')
    img(src='/images/logo.svg')
  i.fa.fa-bars.fa-pull-right#menu-button
  nav
    include ./social.pug
    i.fa.fa-bars.fa-pull-right
    ul.menu
      each item in menu
        li
          if item.url
            a(href=item.url)=item.label
          else if item.submenu
            span=item.label
              i.fa.fa-caret-down
            ul.submenu.submenu-collapsed
              each subitem in item.submenu
                li
                  if subitem.url
                    a(href=subitem.url)=subitem.label
                  else
                    span=subitem.label
if showBanner
  include ./banner.pug
